@import './normalize';
@import './typography';
@import './transitions';

* {
  outline: 0 none;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  min-height: 100vh;
  font-family: $ff-Roboto;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-white;
  background-color: $color-bg;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}
