/*
*  Transition Animations.
*
*  [Table of contents]
*
*  [&. Content / #key]
*  [Let press Ctrl + f and type of paste the key, then press Enter to search the content]
*
*  Summary:
*
*  01. Fade
*  02. Slide
*  03. Slide Up Delay
*  04. Slide Down Delay
*  05. Slide Up
*  06. Slide Down
*
*/


/*================================
=            01. Fade            =
================================*/

.fade {
  &-enter,
  &-leave {
    &-active {
      transition: all 0.5s ease;
    }
  }
  &-enter {
    opacity: 0;
  }
  &-leave-to {
    opacity: 0;
  }
}

/*=====  End of 01. Fade  ======*/


/*=================================
=            02. Slide            =
=================================*/

.slide {
  &-enter,
  &-leave {
    &-active {
      transition: all 0.5s ease;
    }
  }
  &-enter {
    opacity: 0;
    transform: translateX(-1.5rem);
  }
  &-leave-to {
    opacity: 0;
    transform: translateX(1.5rem);
  }
}

/*=====  End of 02. Slide  ======*/


/*=========================================
=            03. Slide Up Delay           =
=========================================*/

.slide-up-delay {
  &-enter,
  &-leave {
    &-active {
      transition: all 0.3s linear;
    }
  }
  &-enter {
    transform: translateY(100%);
  }
  &-leave-to {
    transform: translateY(-100%);
  }
}

/*=====  End of 03. Slide Up Delay  ======*/



/*===========================================
=            04. Slide Down Delay           =
===========================================*/

.slide-down-delay {
  &-enter,
  &-leave {
    &-active {
      transition: all 0.3s ease-out 0.75s;
    }
  }
  &-enter {
    opacity: 0;
    transform: translateY(-100%);
  }
  &-leave-to {
    opacity: 0;
    transform: translateY(100%);
  }
}

/*=====  End of 04. Slide Down Delay  ======*/



/*====================================
=            05. Slide Up            =
====================================*/

.slide-up {
  &-enter,
  &-leave {
    &-active {
      transition: all 1s cubic-bezier(0.8, 0.8, 0, 1);
    }
  }
  &-enter {
    transform: translateY(100%);
  }
  &-leave-to {
    transform: translateY(-100%);
  }
}

/*=====  End of 05. Slide Up  ======*/



/*======================================
=            06. Slide Down            =
======================================*/

.slide-down {
  &-enter,
  &-leave {
    &-active {
      transition: all 1s cubic-bezier(0.8, 0.8, 0, 1);
    }
  }
  &-enter {
    transform: translateY(-100%);
  }
  &-leave-to {
    transform: translateY(100%);
  }
}

/*=====  End of 06. Slide Down  ======*/

