/*
*  Global variables.
*
*  [Table of contents]
*
*  [&. Content / #key]
*  [Let press Ctrl + f and type of paste the key, then press Enter to search the content]
*
*  Summary:
*
*  01. Colors
*  02. Typography
*  03. Z Index
*
*
*/

/*==================================
=            01. Colors            =
==================================*/

$color-main: #3878f3;
$color-text: #2c2f37;
$color-title: #191d28;

/*=====  End of 01. Colors  ======*/


/*======================================
=            02. Typography            =
======================================*/

$ff-Poppins: Poppins, sans-serif;
$line-height: 1.42858;

/*=====  End of 02. Typography  ======*/


/*===================================
=            03. Z Index            =
===================================*/

$z-index-headbar: 100;
$z-index-modal: 150;

/*=====  End of 03. Z Index  ======*/

