/*
*  Global variables.
*
*  [Table of contents]
*
*  [&. Content / #key]
*  [Let press Ctrl + f and type of paste the key, then press Enter to search the content]
*
*  Summary:
*
*  01. Colors
*  02. Typography
*  03. Z Index
*
*
*/

/*==================================
=            01. Colors            =
==================================*/

$color-main: #f5b745;
$color-text: #333;
$color-title: #111;
$color-bg: #222;
$color-black: #000;
$color-white: #fff;

/*=====  End of 01. Colors  ======*/


/*======================================
=            02. Typography            =
======================================*/

$ff-Poppins: Poppins, sans-serif;
$ff-Roboto: Roboto, sans-serif;
$ff-RobotoSlab: 'Roboto Slab', serif;
$line-height: 1.42858;

/*=====  End of 02. Typography  ======*/


/*===================================
=            03. Z Index            =
===================================*/

$z-index-header: 100;
$z-index-header-panel: 110;
$z-index-header-panel-close: 120;
$z-index-modal: 150;
$z-index-welcome: 200;

/*=====  End of 03. Z Index  ======*/

